<footer>
  <ul class="links links-f0sz">
    <li class="link">
      <a href="https://github.com/f0sz" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li class="link">
      <a href="https://twitter.com/foszke" target="_blank">
        <i class="fa fa-twitter "></i>
      </a>
    </li>
    <li class="link">
      <a href="http://codepen.io/f0sz/" target="_blank">
        <i class="fa fa-codepen "></i>
      </a>
    </li>
    <p class="link">foszke@gmail.com</p>
  </ul>
  <ul class="links links-general">
    <li class="link"><a routerLink="/about">about</a></li>
    <li class="link"><a href="http://nasa.gov" target="_blank">nasa</a></li>
    <li class="link"><a href="https://github.com/f0sz/nasastuff" target="_blank">nasastuff@github</a></li>
  </ul>
</footer>
