.timestamp{
  color: #673ab7;
}
.older-apods-header{
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
}

.older-apods-wrapper{
  background-color: #CFD8DC;
  margin-top: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.apod-card-wrapper{
  margin: .5rem;
}

.main-apod{
  padding-bottom: 2rem;
}

iframe{
  min-height: 300px;
}
