.timestamp{
  color: #673ab7;
}

.apod-image{
  max-width: 100%;
  object-fit: scale-down;
}

.older-apods-header{
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
}

.older-apods-wrapper{
  width: 100%;
  background-color: #CFD8DC;
  margin: 2rem 0;
}

.apod-card-wrapper{
  margin: .5rem;
}

.main-apod{
  padding-bottom: 2rem;
}
