/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

h1 {
  font-size: 112px;
  font-weight: 300;
}

h2 {
  font-size: 56px;
  font-weight: 400;
}

h3 {
  font-size: 45px;
  font-weight: 400;
}

h4 {
  font-size: 34px;
  font-weight: 400;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 1rem;
  color: #607D8B;
}

.text-center {
  text-align: center !important;
}
