<header class="main-header">
  <div class="backdrop"></div>
  <h1 class="page-title">Explore our galaxy through images</h1>
  <a href="#info" class="button-more">WHAT?</a>
</header>


<main id="info">
  <section class="about-pages">
    <div class="page">
      <div class="page-header">
        <h2>Astronomy Picture of the Day</h2>
      </div>
      <div class="page-info">
        <div class="page-image">
          <img [src]="'assets/apod.jpg'">
        </div>
        <div class="page-description">
          Discover the cosmos! Each day a different image or photograph of our fascinating universe is featured, along
          with a brief explanation written by a professional astronomer.
        </div>
      </div>
    </div>
    <div class="page">
      <div class="page-header">
        <h2>Earth Polychromatic Imaging Camera</h2>
      </div>
      <div class="page-info">
        <div class="page-image">
          <img [src]="'assets/epic.jpg'">
        </div>
        <div class="page-description">
          The EPIC page provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging
          Camera (EPIC) instrument. Uniquely positioned at the Earth-Sun Lagrange point, EPIC provides full disc imagery
          of the Earth and captures unique perspectives of certain astronomical events.
        </div>
      </div>
    </div>
    <div class="page">
      <div class="page-header">
        <h2>Mars Rovers</h2>
      </div>
      <div class="page-info">
        <div class="page-image">
          <img [src]="'assets/curiosity.jpg'">
        </div>
        <div class="page-description">
          This page is designed to browse images collected by NASA's Curiosity, Opportunity, and Spirit rovers on
          Mars. Each rover has it's own set of cameras with unique perspectives.
        </div>
      </div>
    </div>
  </section>
</main>
